:root {
    --backgroundcolor1: #FAFAFA;
    --backgroundcolor2: #F3F3F3;
    --headlinecolor1: black;
    --headlinecolor2: #18C5AB;
    --buttoncolor1: #0DFDD9;
    --buttoncolor2: #F2F2F2;
    --buttoncolor3: #3C308F;

}

body {
    margin: 0;
    background-color: var(backgroundcolor1);
    font-family: 'Raleway';
}

.navLeft {
    display: flex; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid grey;
}

#backwardsArrow {
    height: 54px;
    width: 54px;
    transition: transform .2s;
    margin-right: 20px;
}

#backwardsArrow:hover {
    transform: scale(1.05);
    cursor: pointer;
}

h1 {
    margin-left: 10px;
}

h2 {
    margin-left: 10px;
}


.headlineRechner {
    color: var(--headlinecolor2);
}

.contentContainer {
    display: flex;
    flex-direction: column;
}

.AllCalculatorContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.calculatorFrame {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    transition: transform .2s;
    border-radius: 14px;
    margin: 10px;
    background-color: var(--backgroundcolor2);
}

.calculatorFrame:hover { 
    cursor: pointer;
    transform: scale(1.05);
}

.calculateButton {
    background-color: var(--buttoncolor1);
    width: 200px;
    height: 30px;
    border-radius: 14px;
    border: 1px solid grey;
}

.calculateButton:hover {
    background-color: #5dffe7;
    cursor: pointer;
}